@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');

body{
    padding-top: 50px;
    background-color: #FFF !important;
    overflow: hidden;
}

.svg-body {
    background-color: #FFF !important;
}


/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"] {
  width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 0px;
  padding-right: 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}


.field{
    text-align: right;
}

#urlFieldLabel {
    font-size: 20px;
}

.modal-body {
    min-height: 140px;

    padding-left: 8px !important;
    margin-left: 0px !important;

    max-width: 640px;
    overflow: hidden;
}

#startFieldSet {
        margin-top: 10px;
}

#urlField {
    width: 480px;
    margin-left: 10px !important;
}

.vrawler-logo {
    margin-left: 20px !important;
}

#goButton {
    margin-top: -5px !important;
}

#startHeader {
    padding-bottom: 0px;
    min-height: 20px;
}

.paper-class {
    background-color: "grey";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 50px; 
}

.modal-title {
    margin-top: 0px !important;
    padding-bottom: 5px !important;
}

#detailsTabNoBorder{
    margin-left: auto;
    margin-right: auto;
}

.vertex {
    cursor: pointer;
}

.vertex-text {
    cursor: pointer;
    /*Makes text unselectable*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;    
}

#detailsModalTitle {
    color: orangered;
}

.loading-img {
    width: 319px !important;
    height: 305px !important;
}

#loading {
    visibility: hidden;
    z-index: -1;    
    position: absolute;
    pointer-events: none !important;
}

.info-frame {
    /*visibility: hidden;
    z-index: -1;    */
    width: 100% !important;
    position: absolute;
    top: 100px;
    left: 10px;
}

.vrawler-alert {
    position: relative;
    top: -100px;
}

#github-ribbon {
    pointer-events:none !important;
}

#help-frame {
    position: absolute !important;
    left: 0px;
    top: 50px;
    width: 500px;
    
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 255, 0.7);
    background-color: rgba(0, 0, 255, 0.5);;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;
    color: black;
}

#helpClose {
    pointer-events: auto !important;
}

#help-frame .modal-header {
    height: 40px !important;
    margin-bottom: 5px !important;
    padding-top: 5px !important;
}

#help-frame .modal-header > h4 {
    color: rgb(255, 255, 0) !important;
    font-size: 24px !important;
}

#help-frame-content {
    margin: 0px 0px 20px;
    padding: 10px !important;
    border: 0px;
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#help-frame-content .title {
    color: rgb(255, 255, 0) !important;
    font-size:16px !important;
}

#help-frame-content a {
    color: rgb(24, 24, 99);
    font-weight: inherit;
    text-decoration: underline;
    outline: 0px;
    pointer-events: auto !important;
}